::ng-deep.modal-dialog {
  width: 1100px;
}

.margin-top {
  margin-top: 25px;
}

.center {
  text-align: center;
}

.width100 {
  width: 100% !important;
  margin-bottom: 12px;
}

.dx-checkbox-text {
  padding-left: 35px !important;
}

.line-height {
  line-height: 0.8 !important;
}

.padding-top {
  padding-top: 3px !important;
  padding-left: 0px !important;
}

.col-sm-4 {
  padding: 5px 5px 5px 0px;
}