<div class="at-maincontentholder at-pendingovertimes">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-left">
    <div class="at-pagehead">
      <h2>{{'Contracts'| i18n}}</h2>

      <div class="at-formtheme at-formsearchemployee">
        <button class="at-btn at-btnborderradius float-right" routerLink="create">
          <i class="fa fa-plus at-margin-right"></i>
          <span>
            {{'Contract' | i18n}}
          </span>
        </button>
      </div>
    </div>

    <div class="at-contentbox">
      <div class="at-themetableholder">
        <table class="table at-themetable at-tableemployees">
          <thead>
            <tr>
              <th>{{'ID' | i18n}}</th>
              <th>{{'Contract Name' | i18n}}</th>
              <th>{{'Vendor' | i18n}}</th>
              <th>{{'Contract Type' | i18n}}</th>
              <th>{{'Client' | i18n}}</th>
              <th>{{'Currency' | i18n}}</th>
              <th>{{'Contract Status' | i18n}}</th>
              <th>{{'Action' | i18n}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contractsList">
              <td><span>{{item.uid}}</span></td>
              <td>
                <h3>{{item?.name}}</h3>
              </td>
              <td>{{item?.vendor?.name}}</td>
              <td>{{item.contractType?.name}}</td>
              <td>{{item.client?.name}}</td>
              <td>{{item.currency?.name}}</td>
              <td>{{item.contractStatus?.name}}</td>
              <td>
                <span>
                  <a class="edit" [routerLink]="['/rates/contracts/' + item.id]">
                    <span class="icon-pencil at-margin-right"></span>
                    <span>{{'Edit' | i18n}}</span>
                  </a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator [length]="totalCount" [pageSize]="10" (page)="onPageChange($event)">
      </mat-paginator>

    </div>


  </div>
</div>
