<!-- <div class="row">
  <div class="col-sm-4 col-md-3">
    <dx-select-box [dataSource]="routesList" displayExpr="name" valueExpr="link" fieldTemplate="field"
      [value]="routesList[0].link" (onSelectionChanged)="selectionChanged($event)">
      <div *dxTemplate="let data of 'field'">
        <div class="custom-item">
          <dx-text-box [value]="data?.name" [readOnly]="true"></dx-text-box>
        </div>
      </div>
      <div *dxTemplate="let data of 'item'">
        <div class="custom-item">
          {{data?.name}}
        </div>
      </div>
    </dx-select-box>
  </div>
  <div class="col-sm-12 col-md-12" style="margin-top: 20px;"> -->
<router-outlet></router-outlet>
<!-- </div>
</div> -->
