// ::ng-deep .modal-dialog {
//   // width: 1100px;
//   max-width: 1100px;
//   // min-width: 500px;
// }

.accessorial-grid {
  margin-top: 20px;
}

.margin-0 {
  margin-bottom: 0px;
}

.padding-0 {
  padding-bottom: 0px;
}