.btn-margin-bottom-grid {
  margin-top: 18px;
}

.btn-mrgin-right {
  margin-right: 10px;
}

.margin-left-total {
  margin-left: 8px;
}

.margin-left-currency {
  margin-left: -6px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-right-val {
  margin-right: -3px;
}

.row-margin-top {
  margin-top: 15px;
}

.edit {
  cursor: pointer;
}

.product-btn {
  margin-top: 15px;
  margin-left: 50px;
}

.add-btn {
  margin-top: 15px;
}

.rate-btn, .btn-margin-top {
  margin-top: 20px;
}

.btn-margin-right {
  margin-right: 10px;
}

.cross-btn {
  cursor: pointer;
}

.line-height {
  line-height: 0.7;
}