// .heading {
//   font-size: initial;
//   font-weight: 500;
// }
// .list-group-item{
//   margin:0 0 5px;
//   -webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.05);
//   box-shadow: 0 0 15px 3px rgba(0,0,0,0.05);
// }
// .list-group-item p{
//   margin:0;
//   display: inline-block;
//   vertical-align:middle;
// }
// .w-100{width:100%;}

// .btn-invoice {
//   padding: 10px 22px !important;
// }

.dx-select-box {
  margin-bottom: 10px;
  float: left;
}

.bol-btn {
  padding: 7px 40px !important;
  margin-top: -5px;
}

.note-btn {
  padding: 12px 20px !important;
}

.btn-invoice {
  padding: 12px 12px !important;
}

.form-control {
  max-width: 100%;
}

.list-date {
  margin-top: -16px;
}

.li-height {
  height: 40px;
}