.btn-margin-bottom-grid {
  margin-top: 18px;
}

.btn-mrgin-right {
  margin-right: 10px;
}

.margin-left-total {
  margin-left: 8px;
}

.margin-left-currency {
  margin-left: -6px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-right-val {
  margin-right: -3px;
}

.row-margin-top {
  margin-top: 15px;
}

.edit {
  cursor: pointer;
}

.product-btn {
  margin-top: 15px;
  margin-left: 50px;
}

.add-btn {
  margin-top: 15px;
}

.rate-btn,
.btn-margin-top {
  margin-top: 20px;
}

.btn-margin-right {
  margin-right: 10px;
}

.cross-btn {
  cursor: pointer;
}

.line-height {
  line-height: 0.7;
}

.margin-bot-15 {
  margin-bottom: 15px;
  ;
}

.comment-tile {
  position: relative;
  margin: 0;
}

.comment-time {
  position: absolute;
  right: 7px;
  top: 4px;
}

.comment-text {
  // padding-right: 71px;
  padding-top: 12px;
  padding-left: 0px;
  font-weight: 400;
  font-size: 14px;
}

.comment-email {
  font-weight: 500;
  font-size: 14px;
}

.list-group {
  margin-top: 10px !important;
}

.list-group-item {
  background-color: white;
  padding: 5px 10px !important;
  margin-bottom: 15px !important;
}

.top-25 {
  top: 25px;
}

.attachment {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.attachment>span {
  line-height: 38px;
}

.attachment-icon {
  margin: auto;
  vertical-align: middle;
  display: flex;
}

.attachment-icon i {
  font-size: 20px;
}
